div(id="tasks" ng-controller="AnyTasksController as vm")
  md-list
    md-list-item.md-2-line(ng-repeat="task in vm.tasks | orderBy:'time_left'" ng-click="vm.show_bottom_sheet($event, task)")
      .md-list-item-text(layout="row")
        h4(style="width: 90px") {{ vm.get_timestamp(task.time_left, $last) }}
        div(layout="column")
          h3 {{ task.name }}
          div(layout="row")
            h4 {{ task.when.relative() }}
            h4 | every {{ task.frequency }} days
      md-icon.md-secondary(aria-label="Update Time", md-font-icon="material-icons" ng-click="vm.update_time(task)") check
